<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>Car Mapping Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <h1>Car Mapping Visualization</h1>
    <div width="400px" height="400px">
      <canvas id="carMappingCanvas" width="400px" height="400px"></canvas>
    </div>
    <div class="battery-gauge">
      <img src="{% static 'images/full-battery.png' %}" alt="Battery Icon" style="width: 100px; height: 80px; position: absolute; left: 10px; bottom: 10px;" />
    </div>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", async function() {
            let angleData = JSON.parse('{{ angle_data|escapejs }}');
            let distanceData = JSON.parse('{{ distance_data|escapejs }}');
            let carX = {{ car_x|default:0 }};
            let carY = {{ car_y|default:0 }};
            let carAngle = {{ car_angle|default:0 }};
            let carImageUrl = "{{ car_image_url }}";

            const carImage = await new Image(32, 32);
            carImage.src = carImageUrl;

            try {
                let ctx = document.getElementById('carMappingCanvas').getContext('2d');
                
                let scatterChart = new Chart(ctx, {
                    type: 'scatter',
                    data: {
                        datasets: [
                        {
                            label: 'Obstacles',
                            data: angleData.map((angle, index) => ({
                                x: angle,
                                y: distanceData[index]
                            })),
                            backgroundColor: 'rgba(0, 123, 255, 0.5)'
                        },
                        {
                            label: 'Car Position',
                            pointStyle: carImage,
                            pointRadius: 20,
                            pointRotation: {{ car_angle|default:0 }},
                            pointBorderColor: 'rgb(0, 0, 0)',
                            data:[{
                                x: carX,
                                y: carY,
                            }]
                        }
                        ]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            x: {
                                type: 'linear',
                                position: 'bottom',
                                min: 0,
                                max: 360,
                                title: {
                                    display: true,
                                    text: 'Angle'
                                }
                            },
                            y: {
                                min: 0,
                                title: {
                                    display: true,
                                    text: 'Distance'
                                }
                            }
                        }
                    }
                });
        
                const roomId = "{{ room_id }}";
                const url = `ws://${window.location.host}/ws/car_mapping/${roomId}/`;
                const mapSocket = new WebSocket(url);
        
                mapSocket.onopen = () => {
                    console.log('WebSocket connection opened.');
                };
        
                mapSocket.onmessage = function(event) {
                    const jsonData = JSON.parse(event.data);
                    if (jsonData.type === 'car_mapping_update') {
                        const angle = jsonData.data.angle;
                        const distance = jsonData.data.distance;
                        const newX = jsonData.data.new_x;
                        const newY = jsonData.data.new_y;

                        carX = newX;
                        carY = newY;
                        carAngle = angle;
        
                        if (carX > 400) {
                            carX = 0;
                        }
                        if (carY > 400) {
                            carY = 0;
                        }
        
                        scatterChart.data.datasets[1].data[0].x = carX;
                        scatterChart.data.datasets[1].data[0].y = carY;
                        scatterChart.data.datasets[1].pointRotation = carAngle;
                        scatterChart.update();
        
                        scatterChart.data.datasets[0].data.push({ x: angle, y: distance });
                        scatterChart.update();
                    }
                };
        
                mapSocket.onclose = () => {
                    console.log('WebSocket connection closed');
                };
        
                mapSocket.onerror = (error) => {
                    console.error('WebSocket error:', error);
                };
        
                setInterval(function() {
                    scatterChart.data.datasets[1].data[0].x = carAngle;
                    scatterChart.data.datasets[1].data[0].y = 0;
                    scatterChart.update();
                }, 1000);
            } catch (error) {
                console.error('Error creating scatter chart:', error);
            }
            
                const batteryGauge = document.querySelector('.battery-gauge');
                const batteryImage = batteryGauge.querySelector('img');
        
                let batteryLevel = 100;
                let lastBatteryRange = 'full';
        
                function updateBatteryGauge() {
                    let newBatteryRange;
                    if (batteryLevel <= 0) {
                        batteryImage.src = `{% static "/images/empty-battery.png" %}`;
                        newBatteryRange = 'empty';
                    } else if (batteryLevel <= 20) {
                        batteryImage.src = `{% static "/images/low-battery.png" %}`;
                        newBatteryRange = 'low';
                    } else if (batteryLevel <= 50) {
                        batteryImage.src = `{% static "/images/half-battery.png" %}`;
                    } else if (batteryLevel <= 75) {
                        batteryImage.src = `{% static "/images/battery-battery.png" %}`;
                    }
                    if (lastBatteryRange !== newBatteryRange) {
                        if (newBatteryRange === 'low') {
                            alert('Battery is low! Please plug in the charger');
                        } else if (newBatteryRange === 'empty') {
                            alert('Battery is dead! Device will shut down in 3 seconds');
                        }
        
                        lastBatteryRange = newBatteryRange;
                    }
                    batteryLevel -= 1;
                }
        
                setInterval(updateBatteryGauge, 1000);
        });
        
    </script>
  </body>
</html>
